.designs{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about{
    background-color:rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.aboutUs{
    background-color:lawngreen;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end; 
}